trigger:
  - main

# https://developercommunity.visualstudio.com/comments/949241/view.html
pr:
  branches:
    include:
      - "*"

pool:
  vmImage: "ubuntu-20.04"

# TODO we don't actually need this for karma or cypress tests
# but it let's us use a single job. No need to split up jobs yet
strategy:
  matrix:
    # active node versions, remove once they reached their EOL
    # EOL: 2021-04-30
    node_10_x:
      node_version: 10.x
    # EOL: 	2022-04-30
    node_12_x:
      node_version: 12.x
    # EOL: 2023-04-30
    node_14_x:
      node_version: 14.x
    # Release: 2020-10-21
    node_15_x:
      node_version: 15.x
    # Release: 2021-04-20
    # node_15_x:
    #   node_version: 16.x

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: "Install Node.js"

  - script: |
      yarn install
    displayName: "Install packages"

  - script: |
      yarn format
      git diff --exit-code
    displayName: "Check format"

  - script: yarn lint
    displayName: "Lint code"

  - script: yarn test:types
    displayName: "Test types"

  - script: |
      yarn build
    displayName: "Build"

  - script: |
      npm pack
      mv dom-accessibility-api-*.tgz dom-accessibility-api.tgz
    displayName: "Create tarball"

  - publish: $(System.DefaultWorkingDirectory)/dom-accessibility-api.tgz
    displayName: "Publish tarball"
    artifact: dom-accessibility-api-node-$(node_version)

  - task: DownloadPipelineArtifact@2
    displayName: "Download tarball from main"
    continueOnError: true
    inputs:
      artifact: dom-accessibility-api-node-$(node_version)
      path: $(Agent.TempDirectory)/artifacts-main
      source: specific
      # Otherwise green builds (with tasks that have `continueOnError`) are not considered.
      # We need `continueOnError` if we add a new matrix entry.
      allowPartiallySucceededBuilds: true
      pipeline: $(System.DefinitionId)
      project: $(System.TeamProject)
      runVersion: latestFromBranch
      runBranch: refs/heads/main

  - script: |
      mkdir $(Agent.TempDirectory)/published-previous
      mkdir $(Agent.TempDirectory)/published-current
      tar xfz $(Agent.TempDirectory)/artifacts-main/dom-accessibility-api.tgz --directory $(Agent.TempDirectory)/published-previous
      tar xfz $(System.DefaultWorkingDirectory)/dom-accessibility-api.tgz --directory $(Agent.TempDirectory)/published-current
      # --no-index implies --exit-code
      # This task is informative only.
      # Diffs are almost always expected
      git --no-pager diff --color --no-index $(Agent.TempDirectory)/published-previous $(Agent.TempDirectory)/published-current || exit 0
    displayName: "Diff tarballs"

  - script: yarn start
    displayName: "kcd-rollup smoke tests of build"
    workingDirectory: tests/build/fixtures/kcd-rollup

  - script: yarn start
    displayName: "ava+ts-node smoke tests of build"
    workingDirectory: tests/build/fixtures/ava-ts-node

  - script: yarn start
    displayName: "ES modules in node smoke tests of build"
    workingDirectory: tests/build/fixtures/node-es-modules
    # in node 12 we need to use a flag and I'm too lazy to branch even further
    # not running in node < 13 is hopefully a sufficient smoke test
    condition: not(or(startsWith(variables['node_version'], '10.'), startsWith(variables['node_version'], '12.')))

  - script: yarn test:ci
    displayName: "Run jest tests"

  - task: PublishTestResults@2
    condition: succeededOrFailed()
    inputs:
      testRunner: JUnit
      testResultsFiles: "$(System.DefaultWorkingDirectory)/junit.xml"

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      failIfCoverageEmpty: true
      summaryFileLocation: "$(System.DefaultWorkingDirectory)/scripts/jest/coverage/*coverage.xml"

  - script: |
      yarn wpt:init
      tests/wpt/wpt make-hosts-file | sudo tee -a /etc/hosts
    displayName: "Prepare web-platform-test"

  - script: yarn test:wpt:jsdom
    displayName: "Run wpt tests in jsdom"

  - script: yarn test:wpt:browser
    displayName: "Run wpt tests in browser"

  - bash: |
      if [ -d tests/cypress/screenshots ]; then
        echo "##vso[task.setVariable variable=CY_SCREENSHOTS_EXIST]true"
      else
        echo "##vso[task.setVariable variable=CY_SCREENSHOTS_EXIST]false"
      fi
    condition: always()
    displayName: Check if cypress screenshots were created

  - publish: tests/cypress/screenshots
    artifact: browser-test-screenshots-node-$(node_version)
    condition: and(failed(), eq(variables.CY_SCREENSHOTS_EXIST, 'true'))
    displayName: "Publish cypress screenshots"

  - publish: tests/cypress/videos
    artifact: browser-test-videos-node-$(node_version)
    displayName: "Publish cypress screenshots"
